
.App {
  text-align: center;
  background-color: rgb(184, 218, 218);
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.puppies_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.puppies-h1_title {
  margin: 2px;
}

.btn-add {
  margin-bottom: 5px;
}


.section-add-puppy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 2px;
  max-width: 70vw;
  border-bottom: #282c34;
  margin: 10px;
}

.section-edit-puppy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 2px;
  max-width: 70vw;
  border-bottom: #282c34;
  margin: 10px;
}

.puppies-puppieslist {
  align-items:center;
  max-height: 80vh;
  min-width: 60vw;
  overflow-y: scroll;
  align-items: center;
}

.puppy-container {
  max-height: 150vh;
  max-width: 70vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

.puppies-puppieslist_img {
  padding: 0;
  margin-top: 0;
  max-width: 50vw;
  border-radius: 5%;
}

.puppies-puppieslist_data {
  margin-top: 30px;
  min-width: 50vw;
  margin-bottom: 50px;
  border-bottom: #465c5a solid;
}

.puppy_label {
  width: 200px;
  display: inline;
  font-weight: bold;
}

.puppy-input {
  display: block;
}

.btn-upd {
  margin-bottom: 5px;
}

@media only screen and (min-width: 600px) {

  .puppies-puppieslist {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .puppies-puppieslist_img {
    padding: 0;
    margin: 0;
    max-width: 40vw;
  }

}  

@media only screen and (min-width: 900px) {

  .puppies-puppieslist {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .puppy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 20vw;
  }

  .puppies-puppieslist_img {
    padding: 0;
    margin: 0;
    max-width: 20vw;
  }


  .puppy_label {
    display: inline;
  }

  .puppies-puppieslist_data {
    margin-top: 30px;
    max-width: 20px;
    margin-bottom: 50px;
  }

  
}
