@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

.App {
  text-align: center;
  background-color: rgb(184, 218, 218);
}

.app-header {
  background-color: #7ca2a7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 9vmin);
  color: black;
  font-family: 'Mogra', cursive;
  font-weight: bolder;
  justify-content: center;
}

.puppies_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.puppies-h1_title {
  margin: 2px;
}

.btn-add {
  margin-bottom: 5px;
  border-radius: 5%;
  width: 20vw;
  height: 10vh;
  font-family: 'Mogra', cursive;
  font-weight: bolder;
  font-size: calc(10px + 2vmin);
}


.btn-add:hover {
  background-color: #7ca2a7;
  cursor: pointer;
}

.section-add-puppy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 2px;
  min-width: 46vw;
  margin: 10px;
  background-color: #7ca2a7;
  border-radius: 10px;
  padding-bottom: 5px;
  font-family: 'Mogra', cursive;
  font-weight: lighter;
  font-size: 75%;
}

.btn-add-puppy {
  border-radius: 5%;
  margin-right: 2px;
}

.btn-add-puppy:hover {
  background-color: #7ca2a7;
  cursor: pointer;
}

.btn-cancel {
  border-radius: 5%;
  margin-right: 2px;
}

.btn-cancel:hover {
  background-color: #7ca2a7;
  cursor: pointer;
}

.puppies-puppieslist {
  align-items:center;
  min-height: 80vh;
  min-width: 46vw;
  overflow-y: scroll;
  align-items: center;

}

.puppy-container {
  max-height: 38vh;
  max-width: 46vw;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5%;
  cursor: pointer;
}

.puppies-puppieslist_img {
  opacity: 100%;
  height: 38vh;
  width: 46vw;
  border-radius: 5%;
  object-fit:cover;
}

.puppies-puppieslist_data {
  border: 1px solid #7ca2a7;
  opacity: 100%;
  height: 38vh;
  width: 46vw;
  padding-top: 0.5%;
  border-radius: 5%;
  font-size: 75%;
  font-family: 'Mogra', cursive;
  font-weight: normal;
}

.puppy_label {
  width: 200px;
  display: inline;
  font-weight: bold;
}

.puppy-input {
  width: 120px;
  display: block;
}

.btn-upd {
  border-radius: 5%;
  margin: 1px;
}

.btn-upd:hover {
  background-color: #7ca2a7;
  cursor: pointer;
}

.btn-delete-puppy {
  border-radius: 5%;
  margin: 1px;
}

.btn-delete-puppy:hover {
  background-color: #7ca2a7;
  cursor: pointer;
}

.section-edit-puppy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.btn-edit-puppy {
  border-radius: 5%;
  margin-bottom: 5px;
}

.btn-edit-puppy:hover {
  background-color: #7ca2a7;
  cursor: pointer;
}

@media only screen and (min-width: 550px) {

  .section-add-puppy {
    min-width: 20vw;
  }


  .puppies-puppieslist {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .puppies-puppieslist_img {
    padding: 0;
    margin: 0;
    height: 40vh;
    width: 40vw;
  }

  .puppies-puppieslist_data {
    font-size: 100%;
    height: 40vh;
    width: 40vw;
    border-radius: 5%;
  }

}  

@media only screen and (min-width: 850px) {

  .puppies-puppieslist {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .puppy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 20vw;
    
  }

  .puppies-puppieslist_img {
    margin-bottom: 0px;
    border-radius: 5%;
    width: 20vw;
    height: 40vh;
  }

  .puppies-puppieslist_data {
    width: 20vw;
    height: 40vh;
    margin-bottom: 0px;
    border-radius: 5%;
  }


  .puppy_label {
    display: inline;
  }

  .puppies-puppieslist_data {
    margin-top: 0;
  }

}
